<!DOCTYPE html>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'
      xmlns="http://www.w3.org/1999/html"/>
<html lang="en">
<head>
</head>
<body>
<div class="ApiHome">
    <a href="/" class="button backhome">home</a>
    <h1 class = "apiTitle"> My GW2</h1>
    <div class="row apiTabs">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Account</a></li>
            <li class="tabs-title"><a href="#panel2">Characters</a></li>
        </ul>
        <div class= data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="row apiRow">
                    <div class="large-6 columns">
                            <ul>
                                <p class=" wow fadeInUp cardTitle card cardText columns" id="name" data-wow-duration="1s" data-wow-delay="0.1s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="created" data-wow-duration="1s" data-wow-delay="0.2s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="accessType" data-wow-duration="1s" data-wow-delay="0.3s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="commander" data-wow-duration="1s" data-wow-delay="0.4s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="fractalLevel" data-wow-duration="1s" data-wow-delay="0.5s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="wvwrank" data-wow-duration="1s" data-wow-delay="0.6s"></p>
                                <div></div>
                            </ul>
                    </div>
                    <div class="large-6 columns">
                        <div class="row">
                            <ul>
                                <p class=" wow fadeInUp cardTitle card cardText columns" id="acc1" data-wow-duration="1s" data-wow-delay="0.7s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="acc2" data-wow-duration="1s" data-wow-delay="0.8s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="acc3" data-wow-duration="1s" data-wow-delay="0.9s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="acc4" data-wow-duration="1s" data-wow-delay="1.0s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="acc5" data-wow-duration="1s" data-wow-delay="1.1s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="acc6" data-wow-duration="1s" data-wow-delay="1.2s"></p>
                                <div></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabs-panel" id="panel2" data-equalizer>
                <div class="row apiRow">
                    <div class="large-3 columns apiContainer">
                        <div class="row">
                            <ul data-equalizer-watch>
                                <p class=" wow fadeInUp cardTitle card cardText columns" id="apiName" data-wow-duration="1s" data-wow-delay="0.1s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiGen" data-wow-duration="1s" data-wow-delay="0.2s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiLev" data-wow-duration="1s" data-wow-delay="0.3s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiAge" data-wow-duration="1s" data-wow-delay="0.4s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiCreate" data-wow-duration="1s" data-wow-delay="0.5s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiDeath" data-wow-duration="1s" data-wow-delay="0.6s"></p>
                                <div></div>
                            </ul>
                        </div>
                    </div>
                    <div class="large-3 columns apiContainer">
                        <div class="row">
                            <ul data-equalizer-watch>
                                <p class=" wow fadeInUp cardTitle card cardText columns" id="apiName1" data-wow-duration="1s" data-wow-delay="0.1s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiGen1" data-wow-duration="1s" data-wow-delay="0.2s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiLev1" data-wow-duration="1s" data-wow-delay="0.3s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiAge1" data-wow-duration="1s" data-wow-delay="0.4s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiCreate1" data-wow-duration="1s" data-wow-delay="0.5s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiDeath1" data-wow-duration="1s" data-wow-delay="0.6s"></p>
                                <div></div>
                            </ul>
                        </div>
                    </div>
                    <div class="large-3 columns apiContainer">
                        <div class="row">
                            <ul data-equalizer-watch>
                                <p class=" wow fadeInUp cardTitle card cardText columns" id="apiName2" data-wow-duration="1s" data-wow-delay="0.1s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiGen2" data-wow-duration="1s" data-wow-delay="0.2s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiLev2" data-wow-duration="1s" data-wow-delay="0.3s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiAge2" data-wow-duration="1s" data-wow-delay="0.4s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiCreate2" data-wow-duration="1s" data-wow-delay="0.5s"></p>
                                <p class=" wow fadeInUp card cardText columns" id="apiDeath2" data-wow-duration="1s" data-wow-delay="0.6s"></p>
                                <div></div>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="large-2 columns apiContainer">-->
                        <!--<div class="row">-->
                            <!--<ul data-equalizer-watch>-->
                                <!--<p class=" wow fadeInUp cardTitle card cardText columns" id="apiName3" data-wow-duration="1s" data-wow-delay="0.1s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiGen3" data-wow-duration="1s" data-wow-delay="0.2s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiLev3" data-wow-duration="1s" data-wow-delay="0.3s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiAge3" data-wow-duration="1s" data-wow-delay="0.4s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiCreate3" data-wow-duration="1s" data-wow-delay="0.5s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiDeath3" data-wow-duration="1s" data-wow-delay="0.6s"></p>-->
                                <!--<div></div>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="large-2 columns apiContainer">-->
                        <!--<div class="row">-->
                            <!--<ul data-equalizer-watch>-->
                                <!--<p class=" wow fadeInUp cardTitle card cardText columns" id="apiName4" data-wow-duration="1s" data-wow-delay="0.1s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiGen4" data-wow-duration="1s" data-wow-delay="0.2s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiLev4" data-wow-duration="1s" data-wow-delay="0.3s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiAge4" data-wow-duration="1s" data-wow-delay="0.4s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiCreate4" data-wow-duration="1s" data-wow-delay="0.5s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiDeath4" data-wow-duration="1s" data-wow-delay="0.6s"></p>-->
                                <!--<div></div>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="large-2 columns apiContainer">-->
                        <!--<div class="row">-->
                            <!--<ul data-equalizer-watch>-->
                                <!--<p class=" wow fadeInUp cardTitle card cardText columns" id="apiName5" data-wow-duration="1s" data-wow-delay="0.1s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiGen5" data-wow-duration="1s" data-wow-delay="0.2s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiLev5" data-wow-duration="1s" data-wow-delay="0.3s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiAge5" data-wow-duration="1s" data-wow-delay="0.4s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiCreate5" data-wow-duration="1s" data-wow-delay="0.5s"></p>-->
                                <!--<p class=" wow fadeInUp card cardText columns" id="apiDeath5" data-wow-duration="1s" data-wow-delay="0.6s"></p>-->
                                <!--<div></div>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <script>
//CHAR0 ENDPOINT=========================================================================================================
            var ep = gw2Api.endpoints.characters.url, params = ep.getParameters();
            params.lang = 'en';     //set language
            params.page = 4;        //set page; in this case, a page refers to a character. page = 0 means all characters
            params.pageSize = 1;    //size of page determines how many pages (i.e. characters) show up.
            params.token = '{{user.apiKey}}'; //API key
            ep.get(params).then(function(response){
                var data, headers;
                data = response.data;
                headers = response.headers;
                var string = data[0].created;
                var length = 10;

                var trimmedString = string.substring(0, length);
                document.getElementById('apiName').innerHTML = data[0].name;
                document.getElementById('apiGen').innerHTML =  data[0].gender + " " + data[0].race + " " + data[0].profession;
                document.getElementById('apiLev').innerHTML =  "level " + data[0].level;
                document.getElementById('apiAge').innerHTML = parseInt((data[0].age/3600), 10) + " hours played";
                document.getElementById('apiCreate').innerHTML = "born " + trimmedString;
                document.getElementById('apiDeath').innerHTML =  "fainted " + data[0].deaths + " times";
                $('apiOut').jPut({
                    ajax_url:ep,//ajax:Specifies the URL to send the request to. Default is the current page
                    done:function(e){
                        //on success (e will be the json data)
                    },
                    error:function(msg){
                        alert('Error Message:'+msg);    //On error
                    }
                });
            });

//CHAR1 ENDPOINT=========================================================================================================
            var ep1 = gw2Api.endpoints.characters.url, params1 = ep1.getParameters();
            params1.lang = 'en';     //set language
            params1.page = 3;        //set page; in this case, a page refers to a character. page = 0 means all characters
            params1.pageSize = 1;    //size of page determines how many pages (i.e. characters) show up.
            params1.token = '{{user.apiKey}}'; //API key
            ep1.get(params1).then(function(response){
                var data, headers;
                data = response.data;
                headers = response.headers;
                var string = data[0].created;
                var length = 10;

                var trimmedString = string.substring(0, length);
                document.getElementById('apiName1').innerHTML = data[0].name;
                document.getElementById('apiGen1').innerHTML =  data[0].gender + " " + data[0].race + " " + data[0].profession;
                document.getElementById('apiLev1').innerHTML =  "level " + data[0].level;
                document.getElementById('apiAge1').innerHTML = parseInt((data[0].age/3600), 10) + " hours played";
                document.getElementById('apiCreate1').innerHTML = "born " + trimmedString;
                document.getElementById('apiDeath1').innerHTML =  "fainted " + data[0].deaths + " times";
                $('apiOut').jPut({
                    ajax_url:ep1,//ajax:Specifies the URL to send the request to. Default is the current page
                    done:function(e){
                        //on success (e will be the json data)
                    },
                    error:function(msg){
                        alert('Error Message:'+msg);    //On error
                    }
                });
            });

//CHAR2 ENDPOINT=========================================================================================================
            var ep2 = gw2Api.endpoints.characters.url, params2 = ep2.getParameters();
            params2.lang = 'en';     //set language
            params2.page = 6;        //set page; in this case, a page refers to a character. page = 0 means all characters
            params2.pageSize = 1;    //size of page determines how many pages (i.e. characters) show up.
            params2.token = '{{user.apiKey}}'; //API key
            ep2.get(params2).then(function(response){
                var data, headers;
                data = response.data;
                headers = response.headers;
                var string = data[0].created;
                var length = 10;

                var trimmedString = string.substring(0, length);
                document.getElementById('apiName2').innerHTML = data[0].name;
                document.getElementById('apiGen2').innerHTML =  data[0].gender + " " + data[0].race + " " + data[0].profession;
                document.getElementById('apiLev2').innerHTML =  "level " + data[0].level;
                document.getElementById('apiAge2').innerHTML = parseInt((data[0].age/3600), 10) + " hours played";
                document.getElementById('apiCreate2').innerHTML = "born " + trimmedString;
                document.getElementById('apiDeath2').innerHTML =  "fainted " + data[0].deaths + " times";
                $('apiOut').jPut({
                    ajax_url:ep2,//ajax:Specifies the URL to send the request to. Default is the current page
                    done:function(e){
                        //on success (e will be the json data)
                    },
                    error:function(msg){
                        alert('Error Message:'+msg);    //On error
                    }
                });
            });
/*//CHAR3 ENDPOINT=========================================================================================================
var ep3 = gw2Api.endpoints.characters.url, params3 = ep3.getParameters();
params3.lang = 'en';     //set language
params3.page = 3;        //set page; in this case, a page refers to a character. page = 0 means all characters
params3.pageSize = 1;    //size of page determines how many pages (i.e. characters) show up.
params3.token = '{{user.apiKey}}'; //API key
ep3.get(params3).then(function(response){
    var data, headers;
    data = response.data;
    headers = response.headers;
    var string = data[0].created;
    var length = 10;

    var trimmedString = string.substring(0, length);
    document.getElementById('apiName2').innerHTML = data[0].name;
    document.getElementById('apiGen2').innerHTML =  data[0].gender + " " + data[0].race + " " + data[0].profession;
    document.getElementById('apiLev2').innerHTML =  "level " + data[0].level;
    document.getElementById('apiAge2').innerHTML = parseInt((data[0].age/3600), 10) + " hours played";
    document.getElementById('apiCreate2').innerHTML = "born " + trimmedString;
    document.getElementById('apiDeath2').innerHTML =  "fainted " + data[0].deaths + " times";
    $('apiOut').jPut({
        ajax_url:ep3,//ajax:Specifies the URL to send the request to. Default is the current page
        done:function(e){
            //on success (e will be the json data)
        },
        error:function(msg){
            alert('Error Message:'+msg);    //On error
        }
    });
});

//CHAR4 ENDPOINT=========================================================================================================
var ep4 = gw2Api.endpoints.characters.url, params4 = ep4.getParameters();
params4.lang = 'en';     //set language
params4.page = 4;        //set page; in this case, a page refers to a character. page = 0 means all characters
params4.pageSize = 1;    //size of page determines how many pages (i.e. characters) show up.
params4.token = '{{user.apiKey}}'; //API key
ep4.get(params4).then(function(response){
    var data, headers;
    data = response.data;
    headers = response.headers;
    var string = data[0].created;
    var length = 10;

    var trimmedString = string.substring(0, length);
    document.getElementById('apiName2').innerHTML = data[0].name;
    document.getElementById('apiGen2').innerHTML =  data[0].gender + " " + data[0].race + " " + data[0].profession;
    document.getElementById('apiLev2').innerHTML =  "level " + data[0].level;
    document.getElementById('apiAge2').innerHTML = parseInt((data[0].age/3600), 10) + " hours played";
    document.getElementById('apiCreate2').innerHTML = "born " + trimmedString;
    document.getElementById('apiDeath2').innerHTML =  "fainted " + data[0].deaths + " times";
    $('apiOut').jPut({
        ajax_url:ep4,//ajax:Specifies the URL to send the request to. Default is the current page
        done:function(e){
            //on success (e will be the json data)
        },
        error:function(msg){
            alert('Error Message:'+msg);    //On error
        }
    });
});

//CHAR5 ENDPOINT=========================================================================================================
var ep5 = gw2Api.endpoints.characters.url, params5 = ep5.getParameters();
params5.lang = 'en';     //set language
params5.page = 5;        //set page; in this case, a page refers to a character. page = 0 means all characters
params5.pageSize = 1;    //size of page determines how many pages (i.e. characters) show up.
params5.token = '{{user.apiKey}}'; //API key
ep5.get(params5).then(function(response){
    var data, headers;
    data = response.data;
    headers = response.headers;
    var string = data[0].created;
    var length = 10;

    var trimmedString = string.substring(0, length);
    document.getElementById('apiName2').innerHTML = data[0].name;
    document.getElementById('apiGen2').innerHTML =  data[0].gender + " " + data[0].race + " " + data[0].profession;
    document.getElementById('apiLev2').innerHTML =  "level " + data[0].level;
    document.getElementById('apiAge2').innerHTML = parseInt((data[0].age/3600), 10) + " hours played";
    document.getElementById('apiCreate2').innerHTML = "born " + trimmedString;
    document.getElementById('apiDeath2').innerHTML =  "fainted " + data[0].deaths + " times";
    $('apiOut').jPut({
        ajax_url:ep5,//ajax:Specifies the URL to send the request to. Default is the current page
        done:function(e){
            //on success (e will be the json data)
        },
        error:function(msg){
            alert('Error Message:'+msg);    //On error
        }
    });
});*/


//ACCOUNT ENDPOINT=========================================================================================================
            var epS = gw2Api.endpoints.account.url,
                    paramsS = epS.getParameters();
            params.lang = 'en';
            params.page = 0;
            params.pageSize = 0;
            params.token = '{{user.apiKey}}';
            epS.get(params).then(function(response){
                var data, headers;
                data = response.data;
                headers = response.headers;
                var string = data.created;
                var length = 10;
                var trimmedString = string.substring(0, length);
                document.getElementById('name').innerHTML = data.name;
                document.getElementById('created').innerHTML = "Created: " + trimmedString;
                document.getElementById('accessType').innerHTML = "Account: " + data.access;
                document.getElementById('commander').innerHTML =  "commander: " + data.commander;
                document.getElementById('fractalLevel').innerHTML = "Fractal Level: " + data.fractal_level;
                document.getElementById('wvwrank').innerHTML = "WvW level: " + data.wvw_rank;
            });
//WALLET ENDPOINT=========================================================================================================
            var epT = gw2Api.endpoints.account.wallet.url,
                    params = ep.getParameters();
            params.lang = 'en';
            params.page = 0;
            params.pageSize = 1;
            params.token = '{{user.apiKey}}';
            epT.get(params).then(function(response){
                var data, headers;
                data = response.data;
                headers = response.headers;
                document.getElementById('acc1').innerHTML = "Wallet";
                document.getElementById('acc2').innerHTML = "Gold: " + data[0].value;
                document.getElementById('acc3').innerHTML = "Karma: " + data[1].value;
                document.getElementById('acc4').innerHTML = "Laurels: " + data[2].value;
                document.getElementById('acc5').innerHTML = "Spirit shards: " + data[15].value;
                document.getElementById('acc6').innerHTML = "Badges of Honor: " + data[9].value;
            });

        </script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/foundation-sites/dist/foundation.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/scroll.js"></script>
        <script src="/js/wow.js"></script>
        <script>
            $(document).ready(function () {
                $(document).foundation();
            });
            function flip() {
                $('.card').toggleClass('flipped');
            }
            $(function () {
                new WOW().init();
            })
        </script>
</body>
</html>
